.characteristics {
  padding-top: 94px;
  padding-bottom: 94px;
}

.characteristics__headline-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img-cr-box {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background: var(--background-box-color);
  border-radius: 4px;
}

.characteristics__item {
  width: 270px;
}

.section-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--part-text-color);
  margin-bottom: 50px;
}

.characteristics__headline-point {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--part-text-color);
  margin-bottom: 10px;
}

.characteristics__point-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
